<?xml version="1.0"?>
<launch>
    <!-- setting the start position of the model -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <!-- load environment into Gazebo  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find cooneo_mini)/worlds/cooneo_office.world"/>
    </include>

    <!-- Load the robot description -->
    <param name="robot_description" command=" cat $(find cooneo_mini)/urdf/cooneo_mini.urdf"/>

    <!-- Load ros_controllers configuration parameters -->
    <rosparam file="$(find steer_mini_gazebo)/config/ctrl_ackermann_steering_controller_mini.yaml" command="load"  />
    <rosparam file="$(find steer_mini_gazebo)/config/ctrl_gains_mini.yaml" command="load" />
    <rosparam file="$(find steer_mini_gazebo)/config/ctrl_joint_state_publisher_mini.yaml" command="load"  />
    <rosparam file="$(find steer_mini_gazebo)/config/ctrl_steer_bot_hardware_gazebo_mini.yaml" command="load" />

    <!-- Spawn the controllers -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner" 
        args="joint_state_publisher ackermann_steering_controller"
        output="screen" respawn="false" >
    </node>

    <!-- Launch  the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50.0"/>
    </node>

    <!-- Launch a rqt steering GUI for publishing to steer_drive_controller/cmd_vel -->
    <!--
    <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering" >
        <param name="default_topic" value="ackermann_steering_controller/cmd_vel"/>
    </node>
    -->

    <!-- Spawn robot in Gazebo -->
    <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model cooneo_mini -gazebo_namespace /gazebo 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
          respawn="false" output="screen" />

</launch>
