<launch>
  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" >
    <param name="laser_scan_topic" value="/scan"/>           # topic where the lidar scans are being published
    <param name="odom_topic" value="/odom" />                   # topic where tu publish the odometry estimations
    <param name="publish_tf" value="true" />                                       # wheter or not to publish the tf::transform (base->odom)
    <param name="base_frame_id" value="/base_link"/>                  # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
    <param name="odom_frame_id" value="/odom" />                      # frame_id (tf) to publish the odometry estimations    
    <param name="init_pose_from_topic" value="" />                         # (Odom topic) Leave empty to start at point (0,0)
    <param name="freq" value="5.0"/>                                                        # Execution frequency.
    <param name="verbose" value="true" />                                             # verbose
  </node>
</launch>
